.registrar-gasto {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .registrar-gasto .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1926px;
    position: relative;
  }
  
  .registrar-gasto .overlap {
    position: absolute;
    width: 1440px;
    height: 545px;
    top: 582px;
    left: 0;
  }
  
  .registrar-gasto .line {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 272px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
  
  .registrar-gasto .img {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
  
  .registrar-gasto .rectangle {
    position: absolute;
    width: 1030px;
    height: 545px;
    top: 0;
    left: 205px;
    background-color: #80ad85;
    border: 2px solid;
    border-color: #000000;
  }
  
  .registrar-gasto .rectangle-2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; /* Align the content to the center */
    width: 410px;
    height: 45px;
    top: 313px;
    left: 254px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
    cursor: pointer; 
  }
  
  .registrar-gasto .text-wrapper-5 {
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    text-align: 500px; 
  }
  
  .registrar-gasto .element-4 {
    position: absolute;
    width: 88px;
    height: 41px;
    right: 318px;
  }  

  
  .registrar-gasto .group {
    top: 26px;
    left: 558px;
    position: absolute;
    width: 315px;
    height: 45px;
  }
  
  .registrar-gasto .text-wrapper {

    left: 15px;
    position: absolute;
    top: 7px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .rectangle-5 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 109px;
    left: 254px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-2 {
    position: absolute;
    width: 227px;
    top: 3px;
    left: 90px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .element {
    position: absolute;
    width: 88px;
    height: 41px;
    top: 0px;
    left: 0px;
  }

  .registrar-gasto .rectangle-6 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 177px;
    left: 254px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }
  
  .registrar-gasto .text-wrapper-3 {
    position: absolute;
    width: 178px;
    top: 3px;
    left: 120px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .element-2 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0px;
    left: 0px;
  }
  
  .registrar-gasto .rectangle-7 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 245px;
    left: 254px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-4 {
    position: absolute;
    width: 183px;
    top: 3px;
    left: 120px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .element-3 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }

  .registrar-gasto .rectangle-4 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 381px;
    left: 254px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-6 {
    position: absolute;
    width: 119px;
    top: 3px;
    left: 150px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .element-5 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }

  .registrar-gasto .rectangle-3 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 449px;
    left: 254px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }
  
  
  .registrar-gasto .text-wrapper-7 {
    position: absolute;
    width: 176px;
    top: 3px;
    left: 120px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .element-6 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }
  
  .registrar-gasto .rectangle-11 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 111px;
    left: 780px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }
  .registrar-gasto .text-wrapper-8 {
    position: absolute;
    width: 97px;
    top: 3px;
    left: 150px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .element-7 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }

  .registrar-gasto .rectangle-12 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 179px;
    left: 780px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-10 {
    position: absolute;
    width: 93px;
    top: 3px;
    left: 150px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .registrar-gasto .element-10 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }
  
  .registrar-gasto .rectangle-13 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 247px;
    left: 780px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-9 {
    position: absolute;
    width: 203px;
    top: 3px;
    left: 110px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  .registrar-gasto .element-8 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }
  
  .registrar-gasto .rectangle-8 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 315px;
    left: 780px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-11 {
    position: absolute;
    width: 99px;
    top: 3px;
    left: 150px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .element-9 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }

  .registrar-gasto .rectangle-10 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 383px;
    left: 780px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-12 {
    position: absolute;
    width: 131px;
    top: 3px;
    left: 135px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .registrar-gasto .element-11 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }
  
  .registrar-gasto .rectangle-9 {
    position: absolute;
    width: 410px;
    height: 45px;
    top: 451px;
    left: 780px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-13 {
    position: absolute;
    width: 66px;
    top: 3px;
    left: 170px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .element-12 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }
  
  .registrar-gasto .overlap-2 {
    position: absolute;
    width: 1440px;
    height: 415px;
    top: 1192px;
    left: 0;
  }
  
  .registrar-gasto .line-2 {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 213px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

  
  .registrar-gasto .line-3 {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 221px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
  
  .registrar-gasto .rectangle-14 {
    position: absolute;
    width: 467px;
    height: 415px;
    top: 0;
    left: 205px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .rectangle-16 {
    position: absolute;
    width: 378px;
    height: 45px;
    top: 122px;
    left: 250px;
    background-color: #f5df71;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-14 {
    position: absolute;
    width: 88px;
    top: 3px;
    left: 150px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  .registrar-gasto .element-13 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }

  .registrar-gasto .rectangle-17 {
    position: absolute;
    width: 378px;
    height: 45px;
    top: 190px;
    left: 250px;
    background-color: #7fb7c7;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-15 {
    width: 192px;
    top: 3px;
    left: 110px;
    position: absolute;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .registrar-gasto .element-14 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }

  .registrar-gasto .rectangle-18 {
    position: absolute;
    width: 378px;
    height: 45px;
    top: 258px;
    left: 250px;
    background-color: #93c798;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-16 {
    width: 180px;
    top: 3px;
    left: 120px;
    position: absolute;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  .registrar-gasto .element-15 {
    position: absolute;
    width: 89px;
    height: 41px;
    top: 0;
    left: 0;
  }
  
  .registrar-gasto .rectangle-15 {
    position: absolute;
    width: 378px;
    height: 45px;
    top: 326px;
    left: 250px;
    background-color: #e0756d;
    border: 2px solid;
    border-color: #000000;
  }

  .registrar-gasto .text-wrapper-17 {
    position: absolute;
    width: 148px;
    top: 3px;
    left: 130px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  .registrar-gasto .image {
    position: absolute;
    width: 60px;
    height: 41px;
    top: 0;
    left: 0.5px;
  }
  
  .registrar-gasto .overlap-wrapper {
    top: 45px;
    left: 282px;
    position: absolute;
    width: 315px;
    height: 45px;
  }
  
  .registrar-gasto .p {
    width: 270px;
    left: 25px;
    position: absolute;
    top: 7px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  
  .registrar-gasto .rectangle-19 {
    position: absolute;
    width: 467px;
    height: 300px;
    top: 0;
    left: 768px;
    background-color: #e8e8e8;
    border: 2px solid;
    border-color: #000000;
  }
  
  .registrar-gasto .overlap-group-wrapper {
    top: 45px;
    left: 845px;
    position: absolute;
    width: 315px;
    height: 45px;
  }
  
  .registrar-gasto .text-wrapper-18 {
    position: absolute;
    width: 185px;
    top: 7px;
    left: 62px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  
  .registrar-gasto .text-wrapper-19 {
    position: absolute;
    width: 122px;
    top: 7px;
    left: 94px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  
  
  .registrar-gasto .rectangle-20 {
    position: absolute;
    width: 200px;
    height: 45px;
    top: 118px;
    left: 845px;
    background-color: #b3bfc7;
    border: 2px solid;
    border-color: #000000;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .rectangle-21 {
    position: absolute;
    width: 200px;
    height: 45px;
    top: 205px;
    left: 902px;
    background-color: #545e7a;
    border: 2px solid;
    border-color: #000000;
  }
  
  .registrar-gasto .text-wrapper-22 {
    position: absolute;
    width: 90px;
    top: 3px;
    left: 50px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .text-wrapper-23 {
    position: absolute;
    width: 152px;
    top: 123px;
    left: 1051px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .overlap-3 {
    position: absolute;
    width: 1440px;
    height: 201px;
    top: 2600px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a7c5aa;
    border: 2px solid;
    border-color: #000000;
}
  
  .registrar-gasto .element-18 {
    height: 119px;
    top: 76px;
    left: 1170px;
    position: absolute;
    width: 243px;
  }
  
  .registrar-gasto .text-wrapper-24 {
    position: absolute;
    width: 161px;
    height: 59px;
    top: 16px;
    left: 166px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .text-wrapper-25 {
    position: absolute;
    width: 301px;
    height: 43px;
    top: 75px;
    left: 166px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .text-wrapper-26 {
    position: absolute;
    height: 35px;
    top: 129px;
    left: 160px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .overlap-4 {
    position: absolute;
    width: 1440px;
    height: 103px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a7c5aa;
    border: 2px solid;
    border-color: #000000;
}


  
  .registrar-gasto .rectangle-22 {
    position: absolute;
    width: 1420px;
    height: 92px;
    top: 0;
    left: 0;
    background-color: #a7c5aa;
  }
  
  .registrar-gasto .line-4 {
    position: absolute;
    width: 1440px;
    height: 5px;
    top: 89px;
    left: 0;
  }
  
  .registrar-gasto .text-wrapper-27 {
    position: absolute;
    width: 70px;
    top: 32px;
    left: 1350px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    background-color: #a7c5aa;
    border: 0;
  }
  
  .registrar-gasto .line-5 {
    position: absolute;
    width: 2px;
    height: 100px;
    top: 0;
    left: 250px;
  }
  
  .registrar-gasto .line-6 {
    position: absolute;
    width: 2px;
    height: 100px;
    top: 0;
    left: 1320px;
  }
  
  .registrar-gasto .element-19 {
    position: absolute;
    width: 190px;
    height: 100px;
    top: 4px;
    left: 30px;
}

  
  .registrar-gasto .overlap-5 {
    position: absolute;
    width: 181px;
    height: 72px;
    top: 125px;
    left: 1213px;
  }
  
  .registrar-gasto .text-wrapper-28 {
    position: absolute;
    width: 126px;
    top: 16px;
    left: -50px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .registrar-gasto .lesspending {
    position: absolute;
    width: 90px;
    height: 72px;
    top: 0;
    left: 91px;
  }
  
  .registrar-gasto .rectangle-23 {
    position: absolute;
    width: 819px;
    height: 271px;
    top: 254px;
    left: 310px;
  }
  
  .registrar-gasto .text-wrapper-29 {
    position: absolute;
    height: 28px;
    top: 125px;
    left: 52px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  .registrar-gasto .rectangle-24 {
    position: absolute;
    width: 201px;
    height: 45px;
    top: 165px;
    left: 52px;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 500;
    color: #000000;
    background-color: #a7c6aa;
    border-radius: 10px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .registrar-gasto .group-2 {
    display: flex; 
    align-items: center; 
    top: 26px;
    left: 558px;
    position: absolute;
    width: 50%; 
    height: 45px;
}

.registrar-ingreso {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.registrar-gasto .div-2 {
  background-color: #ffffff;
  width: 1440px;
  height: 0px;
  position: relative;
}

.registrar-gasto .overlaps-2 {
  position: absolute;
  width: 1440px;
  height: 545px;
  top: 1680px;
  left: 0;
}


.registrar-gasto .elements {
  position: absolute;
  width: 50px;
  height: 35px;
  top: 3px;
  left: 20px;
}

.registrar-gasto .rectangle-2-2{
  position: absolute;
  width: 1030px;
  height: 330px;
  top: 0;
  left: 205px;
  background-color: #7890c9;
  border: 2px solid;
  border-color: #000000;
}

.registrar-gasto .elements-2 {
  position: absolute;
  width: 50px;
  height: 35px;
  top: 3px;
  left: 15px;
}

.registrar-gasto .elements-3 {
  position: absolute;
  width: 50px;
  height: 41px;
  top: 0;
  left: 20px;
}
.registrar-gasto .elements-4 {
  position: absolute;
  width: 50px;
  height: 41px;
  top: 0;
  left: 20px;
}
.registrar-gasto .elements-5 {
  position: absolute;
  width: 40px;
  height: 36px;
  top: 4px;
  left: 20px;
}
.registrar-gasto .elements-6 {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 5px;
  left: 15px;
}

.registrar-gasto .lines-2 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 172px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

.registrar-gasto .imgs-2 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

.registrar-gasto .overlaps-3 {
  position: absolute;
  width: 1440px;
  height: 415px;
  top: 2092px;
  left: 0;
}

